.radio-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.radio-application-gui-icon {
    background-image: url(images/gui.png);
}
#radio-application-shortcut div {
    background-image: url(images/shortcut.png);
}