.databaseBackup-application-launcher-icon {
    background-image: url(images/launcher.png);
}

.databaseBackup-application-gui-icon {
    background-image: url(images/gui.png);
}

#databaseBackup-application-shortcut div {
    background-image: url(images/shortcut.png);
}

.databaseBackup-icon-icon-disk {
    width: 16px;
    height: 16px;
    margin: auto;
}

.databaseBackup-icon-cancel {
    width: 16px;
    height: 16px;
    margin: auto;
}