.roleManager-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.roleManager-application-gui-icon {
    background-image: url(images/gui.png);
}
#roleManager-application-shortcut div {
    background-image: url(images/shortcut.png);
}
.icon-cancel {
    width: 16px;
    height: 16px;
    margin:auto;
}