.aboutMe-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.aboutMe-application-gui-icon {
    background-image: url(images/gui.png);
}
#aboutMe-application-shortcut div {
    background-image: url(images/shortcut.png);
}

.aboutMe-application-firstNameSurnameText {
    font-size:20px; margin-top:10px; font-weight:bold;
}
.aboutMe-application-emailText {
    font-size:15px;
}

