.aboutMe-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.aboutMe-application-gui-icon {
    background-image: url(images/gui.png);
}
#aboutMe-application-shortcut div {
    background-image: url(images/shortcut.png);
}

.aboutMe-application-userPicture {
    background:#fff url(images/shortcut.png) no-repeat center;
    width:64px !important;
    height:64px;
    padding:5px;
    margin-right:10px;
}
.aboutMe-application-firstNameSurnameText {
    font-size:20px; margin-top:20px; font-weight:bold;
}
.aboutMe-application-userNameText {
    font-size:15px;
}

