.sample-application-launcher-icon {
    background-image: url(../images/sound-juicer-16.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/sound-juicer-16.png', sizingMethod='scale');
}
.sample-application-window-icon {
    background-image: url(../images/sound-juicer-18.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/sound-juicer-18.png', sizingMethod='scale');
}
#sample-application-shortcut img {
    width:64px; height:64px;
    background-image: url(../images/sound-juicer-64.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/sound-juicer-64.png', sizingMethod='scale');
}