.pixlr-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.pixlr-application-gui-icon {
    background-image: url(images/gui.png);
}
#pixlr-application-shortcut div {
    background-image: url(images/shortcut.png);
}