.feedbackManager-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.feedbackManager-application-gui-icon {
    background-image: url(images/gui.png);
}
#feedbackManager-application-shortcut div {
    background-image: url(images/shortcut.png);
}