.feedback-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.feedback-application-gui-icon {
    background-image: url(images/gui.png);
}
#feedback-application-shortcut div {
    background-image: url(images/shortcut.png);
}