.spaceInvaders-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.spaceInvaders-application-gui-icon {
    background-image: url(images/gui.png);
}
#spaceInvaders-application-shortcut div {
    background-image: url(images/shortcut.png);
}