.example-application-launcher-icon {
    background-image: url(../images/system-installer-16.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/system-installer-16.png', sizingMethod='scale');
}

.example-application-window-icon {
    background-image: url(../images/system-installer-18.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/system-installer-18.png', sizingMethod='scale');
}
#example-application-shortcut img {
    width:64px; height:64px;
    background-image: url(../images/system-installer-64.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/system-installer-64.png', sizingMethod='scale');
}