.userManager-application-launcher-icon {
    background-image: url(images/launcher.png);
}
.userManager-application-gui-icon {
    background-image: url(images/gui.png);
}
#userManager-application-shortcut div {
    background-image: url(images/shortcut.png);
}